@font-face {
  font-family: b52;
  src: url(../fonts/b52.ttf);

}

#info, #navigation, #examples {
  position: fixed;
}
#photo {
  min-width: auto;
  max-width: 300px;
  max-height: 300px;
  border-radius:15%;
}
#logo {
  min-width: auto;
  max-width: 200px;
  max-height: 200px;
  border-radius:15%;
}
#info {
  background-image: url(../img/3-fon-dlya-sayta.png);
  font-family: b52;
  font-weight: 700;
  width: 40%;
  height: 100%;
}
/* #info h1{
  background-color: black;
  width: 30%;
} */
#info p span{
  background-image: url(../img/3-fon-dlya-sayta.png);
  /* -webkit-text-fill-color: transparent;
  -webkit-background-clip: text; */
}
#navigation{
  background-color: black;
  width: 20%;
  height: 100%;
  left: 40%;
  right: 40%;
}
#examples {
  background-image: url(../img/17-fon-dlya-sayta.png);
  width: 40%;
  height: 100%;
  right: 0%;
}
.ex_links > img {
  min-width: auto;
  max-width: 60px;
  max-height: 50px;
}